{% extends 'base2.html' %}
{% load static %}

{% block title %}
GARFO
{% endblock title %}

{% block content %}

<header id="centered-header">
    {% if user.is_authenticated %}
        {% if user.cliente %}
            <div id="bill-button" style="cursor:pointer;" onclick="document.getElementById('modal-conta').style.display='block'"><img src="{% static 'bill_purple.svg' %}"></div>
        {% else %}
            <a id="return-button" href="{% url 'pedidos:index' %}"><img src="{% static 'arrow_back.svg' %}"></a>
        {% endif %}
    {% endif %}
    <div id="img-container-2"><img src="{% static 'logo.svg' %}"></div>
    {% if user.is_authenticated %}
        <a id="exit-button" href="{% url 'logout' %}"><img src="{% static 'exit.svg' %}"></a>
    {% endif %}
  </header>
  
  <main id="container-central">
      <!-- Modal da conta -->
    <div id="modal-conta" class="background">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <p style="cursor:pointer;" onclick="document.getElementById('modal-conta').style.display='none'" class="close-button">&times</p>
                </div>
                <div class="modal-body">
                    {% if pode_pedir %}
                        <p class="modal-title-conta">Pedidos feitos:</p>
                        {% if pedidos %}
                            <ul>
                                {% for pedido in pedidos %}
                                    <li>{{ pedido.item.nome }}: R${{ pedido.item.preco|floatformat:2 }}</li>
                                {% endfor %}
                            </ul>
                            <p class="item-price">Total: R${{ total|floatformat:2 }}</p>
                        {% else %}
                            <p class="modal-text">Você não pediu nada ainda</p>
                        {% endif %}
                        <form method="POST" action="{% url 'pedidos:pedir_conta' %}">
                            {% csrf_token %}
                            <button type="submit">Pedir Conta</button>
                        </form>
                    {% endif %}

                    {% if conta %}
                        <p class="modal-title-conta">Conta aberta:</p>
                        <ul>
                            {% for pedido in conta.pedido_set.all %}
                                <li>{{ pedido.item.nome }}: R${{ pedido.item.preco|floatformat:2 }}</li>
                            {% endfor %}
                        </ul>
                        
                        <p class="item-price">Total: R${{ total|floatformat:2 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <span>CARDÁPIO</span>
    <section id="container-inner-2">
        {% if item_list %}
            {% for item in item_list %}
            <div style="cursor:pointer;" onclick="document.getElementById('modal-item-{{ item.id }}').style.display='block'" class="card img-card" id="single-card">
                <div class="left-part">
                    <img id="item-img" src="{{ item.foto_url }}">
                </div>

                <div class="right-part">
                    <div id="item-name">{{ item.nome }}</div>
                </div>
            </div>

            <!-- Modal -->
            <div id="modal-item-{{ item.id }}" class="background">
                <div class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p style="cursor:pointer;" onclick="document.getElementById('modal-item-{{ item.id }}').style.display='none'" class="close-button">&times</p>
                        </div>
                        <div class="modal-body">
                            <div class="modal-img-container">
                                <img src="{{ item.foto_url }}" alt="{{ item.nome }}">
                            </div> 
                            <p class="modal-title">{{ item.nome }}</p>
                            {% if user.cliente %}
                                <p class="modal-text">{{ item.descricao }}</p>
                                <p class="modal-text item-price">Preço: R${{ item.preco|floatformat:2 }}</p>
                                {% if pode_pedir %}
                                    <form method="POST" action="{% url 'pedidos:fazer_pedido' item.id %}">
                                        {% csrf_token %}
                                        <div>
                                            <label for="observacoes">Observações: </label>
                                            <input type="text" name="observacoes" id="observacoes">
                                        </div>
                                        <div id="div-qtde-pedir">
                                            <div id="div-quantidade">
                                                <label for="quantidade">QTDE:</label>
                                                <input type="number" step="1" name="quantidade" id="quantidade" value="1">
                                            </div>
                                            <button type="submit">PEDIR</button>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endif %}

                            {% if user.gerente %}
                                <form method="POST" action="{% url 'pedidos:update_item' item.id %}">
                                    {% csrf_token %}
                                    <div>
                                        <label for="id_nome">Nome: </label>
                                        <input type="text" name="nome" required id="id_nome" value="{{ item.nome }}">
                                    </div>

                                    <div>
                                        <label for="id_preco">Preço: </label>
                                        <input type="number" step="any" name="preco" required id="id_preco" value='{{ item.preco|stringformat:".2f" }}'>
                                    </div>

                                    <div>
                                        <label for="id_descricao">Descrição: </label>
                                        <input type="text" name="descricao" required id="id_descricao" value="{{ item.descricao }}">
                                    </div>

                                    <div>
                                        <label for="id_foto_url">URL da foto: </label>
                                        <input type="url" name="foto_url" required id="id_foto_url" value="{{ item.foto_url }}"
                                            maxlength="255">
                                    </div>

                                    <div>
                                        <label for="id_disponivel">Disponível: </label>
                                        <input type="checkbox" name="disponivel" id="id_disponivel" {% if item.disponivel %} checked {% endif %}>
                                    </div>

                                    <button type="submit">ATUALIZAR</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        {% if user.gerente %}
        <div style="cursor:pointer;" onclick="document.getElementById('modal-add-item').style.display='block'" class="card" id="add-card">
            <img src="{% static 'plus.svg' %}">
        </div>

        <!-- Modal adicionar item -->
        <div id="modal-add-item" class="background">
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <p style="cursor:pointer;" onclick="document.getElementById('modal-add-item').style.display='none'" class="close-button">&times</p>
                    </div>
                    <div class="modal-body">
                        <p class="modal-title modal-title-mesa">Novo item</p>

                        <form method="POST" action="{% url 'pedidos:create_item' %}">
                            {% csrf_token %}
                            <div>
                                <label for="id_nome">Nome: </label>
                                <input type="text" name="nome" required id="id_nome" value="{{ item.nome }}">
                            </div>

                            <div>
                                <label for="id_preco">Preço: </label>
                                <input type="number" step="any" name="preco" required id="id_preco" value='{{ item.preco|stringformat:".2f" }}'>
                            </div>

                            <div>
                                <label for="id_descricao">Descrição: </label>
                                <input type="text" name="descricao" required id="id_descricao" value="{{ item.descricao }}">
                            </div>

                            <div>
                                <label for="id_foto_url">URL da foto: </label>
                                <input type="url" name="foto_url" required id="id_foto_url" value="{{ item.foto_url }}"
                                    maxlength="255">
                            </div>

                            <div>
                                <label for="id_disponivel">Disponível: </label>
                                <input type="checkbox" name="disponivel" id="id_disponivel" {% if item.disponivel %} checked {% endif %}>
                            </div>

                            <button type="submit">CRIAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    </section>

    {% if user.gerente %}
        {% if item_indisp %}
        <h3>ITENS INDISPONÍVEIS</h3>
        <section id="container-inner-2">
            {% for item in item_indisp %}
                <div style="cursor:pointer;" onclick="document.getElementById('modal-item-{{ item.id }}').style.display='block'" class="card img-card" id="single-card">
                    <div class="left-part">
                        <img id="item-img" src="{{ item.foto_url }}">
                    </div>

                    <div class="right-part">
                        <div id="item-name">{{ item.nome }}</div>
                    </div>
                </div>

                <!-- Modal -->
                <div id="modal-item-{{ item.id }}" class="background">
                    <div class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p style="cursor:pointer;" onclick="document.getElementById('modal-item-{{ item.id }}').style.display='none'" class="close-button">&times</p>
                            </div>
                            <div class="modal-body">
                                <div class="modal-img-container">
                                    <img src="{{ item.foto_url }}" alt="{{ item.nome }}">
                                </div>
                                <p class="modal-title">{{ item.nome }}</p>
                                <form method="POST" action="{% url 'pedidos:update_item' item.id %}">
                                    {% csrf_token %}
                                    <div>
                                        <label for="id_nome">Nome: </label>
                                        <input type="text" name="nome" required id="id_nome" value="{{ item.nome }}">
                                    </div>

                                    <div>
                                        <label for="id_preco">Preço: </label>
                                        <input type="number" step="any" name="preco" required id="id_preco" value='{{ item.preco|stringformat:".2f" }}'>
                                    </div>

                                    <div>
                                        <label for="id_descricao">Descrição: </label>
                                        <input type="text" name="descricao" required id="id_descricao" value="{{ item.descricao }}">
                                    </div>

                                    <div>
                                        <label for="id_foto_url">URL da foto: </label>
                                        <input type="url" name="foto_url" required id="id_foto_url" value="{{ item.foto_url }}" maxlength="255">
                                    </div>

                                    <div>
                                        <label for="id_disponivel">Disponível: </label>
                                        <input type="checkbox" name="disponivel" id="id_disponivel" {% if item.disponivel %} checked {% endif %} >
                                    </div>

                                    <button type="submit">ATUALIZAR</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        {% endif %}
    {% endif %}
  </main>
  
  {% endblock content %}