{% extends 'base.html' %}
{% load static %}

{% block title %}
GARFO
{% endblock title %}

{% block content %}

<header id="cabecalho-principal">
    {% if user.is_authenticated %}
        {% if user.cliente %}
            <a href="{% url 'pedidos:pedir_conta' %}">CONTA</a>
        {% endif %}
        <a href="{% url 'logout' %}">SAIR</a>
    {% endif %}
</header>

<h1>Cardápio</h1>

{% if item_list %}
<ul>
    {% for item in item_list %}
        <li><a href="{% url 'pedidos:detail_item' item.id %}">{{ item.nome }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}
