{% extends 'base.html' %}
{% load static %}

{% block title %}
Chef de Cozinha | GARFO
{% endblock title %}

{% block content %}

<header id="cabecalho-principal">
    <a id="exit-button" href="{% url 'logout' %}"><img src="{% static 'exit.svg' %}"></a>
</header>


<main id="container-principal">
    
    <div id="img-container"><img src="{% static 'logo.svg' %}"></div> 
    
    <h1>{{ user }}</h1>
    
    <div id="button-container">
    <a href="{% url 'pedidos:pedidos' %}"> 
            <button>
                <img src="{% static 'list.svg' %}">
                <br>
                PEDIDOS
            </button>
        </a>
    </div>
</main>

{% endblock content %}
