{% extends 'base.html' %}
{% load static %}

{% block title %}
GARFO
{% endblock title %}

{% block content %}

<a href="{% url 'pedidos:cardapio' %}">Voltar</a>

<h1>{{ item.nome }}</h1>

{% if user.cliente %}
    {% if pode_pedir %}
        <form method="POST" action="{% url 'pedidos:detail_item' item.id %}">
            {% csrf_token %}
            {{ pedido_form.as_p }}
            <button type="submit">Pedir</button>
        </form>
    {% else %}
        <p>Você possui uma conta em aberto. Pague-a antes de fazer outro pedido</p>
    {% endif %}
{% endif %}

{% if user.gerente %}
<a href="{% url 'pedidos:update_item' item.id %}">Editar</a>
{% endif %}

{% endblock content %}