{% extends 'base.html' %}
{% load static %}

{% block title %}
Gerente | GARFO
{% endblock title %}

{% block content %}

<header id="cabecalho-principal">
    <a id="exit-button" href="{% url 'logout' %}"><img src="{% static 'exit.svg' %}"></a>
</header>

<main id="container-principal">

    <div id="img-container"><img src="{% static 'logo.jpg' %}"></div> 

    <div id="button-container">
        <a href="{% url 'pedidos:pedidos' %}"> 
            <button>
                <img src="{% static 'list.svg' %}">
                PEDIDOS
            </button>
        </a>

        <a href="{% url 'pedidos:list_contas' %}"> 
            <button>
                <img src="{% static 'bill.svg' %}">
                CONTAS
            </button>
        </a>

        <a href="{% url 'pedidos:cardapio' %}"> 
            <button>
                <img src="{% static 'menu.svg' %}">
                CARDÁPIO
            </button>
        </a>

        <a href="{% url 'pedidos:list_mesas' %}"> 
            <button>
                <img src="{% static 'table.svg' %}">
                MESAS
            </button>
        </a>
    </div>
</main>
{% endblock content %}
