{% extends 'base2.html' %}
{% load static %}

{% block title %}
Pedidos | GARFO
{% endblock title %}

{% block content %}

<script type="text/javascript">
    let pedidos;
    let pedidos_old;
    function check_server() {
        fetch('http://127.0.0.1:8000/api/v1/pedidos/')
            .then((response) => response.json())
            .then((result) => pedidos = JSON.stringify(result))
            .catch((error) => error);
        if (!pedidos_old) {
            pedidos_old = pedidos;
        } else if (pedidos !== pedidos_old) {
            console.log("Servidor atualizado, recarregando");
            document.location.reload(true);
        }
    }

    let tid = setInterval(check_server, 5*1000);
</script>

<header> 
    <a id="return-button" href="{% url 'pedidos:index' %}"><img src="{% static 'arrow_back.svg' %}"></a> 
    <div id="img-container-2"><img src="{% static 'logo.svg' %}"></div> 
    <a id="exit-button" href="{% url 'logout' %}"><img src="{% static 'exit.svg' %}"></a> 
</header>

<main id="container-central">

    <span>PEDIDOS</span>
    
    <section id="container-inner">

        <article> 
            <p>REALIZADOS</p>
            {% if pedidos_realizados %}
                {% for pedido in pedidos_realizados %}

                <div class="card">
                    <div class="left-part">
                        <div id="table-number">{{ pedido.cliente.mesa }}</div>
                        <br>
                        <div id="item-name">{{ pedido.item.nome }}</div>
                        {% if observacoes %}
                            <div id="observacao">Obs.: {{ pedido.observacoes }}</div>
                        {% endif %}
                    </div>
                    {% if user.chefcozinha %}
                        <form id="item-form" method="POST" action="{% url 'pedidos:pedidos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
                            <button name="preparando" type="submit"><img src="{% static 'check.svg' %}"></button>
                        </form>
                    {% endif %} 
                </div>

                {% endfor %}
            {% endif %}
        </article>

        <article> 
            <p>EM PREPARAÇÃO</p>
            {% if pedidos_preparacao %}
                {% for pedido in pedidos_preparacao %}

                <div class="card">
                    <div class="left-part">
                        <div id="table-number">{{ pedido.cliente.mesa }}</div>
                        <br>
                        <div id="item-name">{{ pedido.item.nome }}</div>
                        {% if observacoes %}
                            <div id="observacao">Obs.: {{ pedido.observacoes }}</div>
                        {% endif %}
                    </div>
                    {% if user.chefcozinha %}
                        <form method="POST" action="{% url 'pedidos:pedidos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
                            <button name="pronto" type="submit"><img src="{% static 'check.svg' %}"></button>
                        </form>
                    {% endif %}
                </div>

                {% endfor %}
            {% endif %}
        </article>

        <article> 
            <p>PRONTOS</p>
            {% if pedidos_prontos %}
                {% for pedido in pedidos_prontos %}

                <div class="card">
                    <div class="left-part">
                        <div id="table-number">{{ pedido.cliente.mesa }}</div>
                        <br>
                        <div id="item-name">{{ pedido.item.nome }}</div>
                        {% if observacoes %}
                            <div id="observacao">Obs.: {{ pedido.observacoes }}</div>
                        {% endif %}
                    </div>
                    {% if user.garcom %}
                        <form method="POST" action="{% url 'pedidos:pedidos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
                            <button name="entregue" type="submit"><img src="{% static 'check.svg' %}"></button>
                        </form>
                    {% endif %}
                </div>

                {% endfor %}
            {% endif %}
        </article>

    </section>

</main>

{% endblock content %}
