{% extends 'base2.html' %}
{% load static %}

{% block title %}
Pedidos | GARFO
{% endblock title %}

{% block content %}

<header> 
    <a id="return-button" href="https://www.assai.com.br/"><img src="{% static 'arrow_back.svg' %}"></a> 
    <div id="img-container-2"><img src="{% static 'logo.jpg' %}"></div> 
    <a id="exit-button" href="https://www.assai.com.br/"><img src="{% static 'exit.svg' %}"></a> 
</header>

<main id="container-central">


    <span>PEDIDOS</span>
    
    <section id="container-inner">

        <article> 
            <p>REALIZADOS</p>
            {% if pedidos_realizados %}
                {% for pedido in pedidos_realizados %}

                <div class="card">
                    {{ pedido.item.name }}
                    {% if user.chefcozinha %}
                        <form method="POST" action="{% url 'pedidos:pedidos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
                            <button name="preparando" type="submit">Preparando</button>
                        </form>
                    {% endif %}
                </div>

                {% endfor %}
            {% endif %}
        </article>

        <article> 
            <p>EM PREPARAÇÃO</p>
            {% if pedidos_preparacao %}
                {% for pedido in pedidos_preparacao %}

                <div class="card">
                    {{ pedido.item.name }}
                    {% if user.chefcozinha %}
                        <form method="POST" action="{% url 'pedidos:pedidos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
                            <button name="pronto" type="submit">Pronto</button>
                        </form>
                    {% endif %}
                </div>

                {% endfor %}
            {% endif %}
        </article>

        <article> 
            <p>PRONTOS</p>
            {% if pedidos_prontos %}
                {% for pedido in pedidos_prontos %}

                <div class="card">
                    {{ pedido.item.nome }}
                    {% if user.garcom %}
                        <form method="POST" action="{% url 'pedidos:pedidos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
                            <button name="entregue" type="submit">Entregue</button>
                        </form>
                    {% endif %}
                </div>

                {% endfor %}
            {% endif %}
        </article>

    </section>

</main>

{% endblock content %}
