{% extends 'base2.html' %}
{% load static %}

{% block title %}
Cadastrar
{% endblock title %}

{% block content %}
<header id="centered-header"> 
    <a id="return-button" href="{% url 'pedidos:index' %}"><img src="{% static 'arrow_back.svg' %}"></a> 
    <div id="img-container-2"><img src="{% static 'logo.jpg' %}"></div> 
    <div id="no-img"></div>
</header>

<main id="container-central">
    <h1>CADASTRAR</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastre-se</button>
    </form>
</main>
{% endblock %}