:root {
  --roxo-escuro: #632BAB;
  --roxo-claro: #B299D1;

  --laranja-escuro: #FF914D;
  --laranja-claro: #FFA974;

  --cinza-mais-escuro: #848484;
  --cinza-escuro: #BFBFBF;
  --cinza-claro: #F4F4F4;

  --branco: #FFFFFF;
  --preto: #000000;
    
  --sombra-escura: 5px 10px 5px rgba(0,0,0,0.2);
  --sombra-clara: 2px 4px 7px 1px rgba(0,0,0,0.2);
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Layout do body dos templates base  */

#body_roxo {
  font-size: 18px;
  background-color: var(--roxo-escuro);
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

#body_cinza {
  font-size: 18px;
  background-color: var(--cinza-claro);
  color: var(--laranja-escuro);
  margin: 0;
}

/* Layout do header dos templates base  */

#body_roxo header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3vh;
}

#body_cinza header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3vh;
  background-color: var(--roxo-escuro);
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

/* Layout dos blocos com id="container"  */

#container-principal {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-central {
  padding-top: 5.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-central span {
  font-size: 35px;
  font-weight: bold;
  align-self: flex-start;
  padding-left: 6vh;
}

#container-central h3 {
  font-size: 24px;
  font-weight: bold;
  padding-left: 6vh;
  align-self: flex-start;
}

#container-central p {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}

#container-inner {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 4vh;
}

#container-inner article {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 300px;
  margin-right: 60px;
  margin-left: 60px;

  font-weight: bold;
}

#container-inner article p{
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  align-self: center;
  padding-bottom: 3vh;
}

#container-inner-2 {
  display: flex;
  align-self: normal;
  flex-wrap: wrap;
  padding-top: 4vh;
  padding-left: 6vh;
}

#button-container {
  margin-top: 4vh;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

#button-container a{
  margin-right: 40px;
}

#button-container button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 240px;
  height: 180px;
  font-size: 24px;
}

#button-container button img{
  width: 40px;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
}

/* Layout dos cards */

.card {
  display: flex;
  align-content: center;
  flex-direction: row;

  background-color: var(--branco);
  color: var(--cinza-mais-escuro);
  box-shadow: var(--sombra-escura);
  border-radius: 42px;

  padding: 24px;
  width: 300px;
  min-height: 120px;
  max-height: 200px;
  margin-bottom: 20px;
  align-self: center;
}

.left-part, .right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-part {
  padding-left: 32px;
}

.img-card .right-part {
  padding-left: 16px;
}

#table-number {
  color: var(--laranja-escuro);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; 
  margin: 0;
  display: flex;
  align-items: center;
  overflow-y:auto;
}

#table-info {
  font-size: 14px;
  color: var(--cinza-mais-escuro);
  text-transform: uppercase; 
  margin: 0;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

#item-name {
  font-size: 14px;
  text-transform: uppercase; 
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

#item-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 20px;

}

#single-card {
  margin-right: 20px;
}

#add-card {
  margin-right: 20px;
  background-color: var(--cinza-claro);
  justify-content: center;
}

#add-card img {
  height: auto;
  width: auto;
  justify-content: center;
}

.card form {
  justify-content: center;
  margin-left: auto;
  padding: 0;
}

.card form button {
  display: flex;
  align-content: center;
  justify-content: center;
  
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: var(--cinza-escuro);
  box-shadow: var(--sombra-clara);
  padding: 5px;
  margin: 0;
  border: 0;
}

.card img {
  border-radius: 0;
  box-shadow: none;
}

/* Layout dos modais */
.background {
  z-index: 2;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#modal-conta {
  display: none;
}

#modal-conta .modal-body {
  justify-content: center;
}

#modal-conta form {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.modal {
  z-index: 3;
  margin: 4vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-width: 80%;
  height: fit-content;
  overflow-y: initial;
  background-color: var(--branco);
  border-radius: 42px;
  color: var(--cinza-mais-escuro);
}

.modal-content{
  margin: auto;
  background-color: #fff;
  position: relative;
  margin: 4vh;
  outline: 0;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.modal-body {
  height: 50vh;
  overflow-y: auto;
  margin: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-body form {
  margin: 24px 8px;
  padding: 4vh;
  background-color: var(--cinza-claro);
  border-radius: 2vh;
  font-size: 14px;
  align-items: flex-start;
  align-self: center;
}

.modal-body form input {
  font-size: 14px;
}

.modal-body form button {
  font-size: 14px;
  align-self: center;
}

#id_disponivel {
  margin: 24px 32px;
}

.close-button {
  font-size:40px!important;
  padding: 0!important;
  margin: 0;
}

.modal img {
  height: 145px;
  width: 145px;
  object-fit: cover;
  border-radius: 20px;
  align-self: center;
  margin: 0 24px 24px 24px;
}

.modal .modal-title {
  text-transform: uppercase;
  font-size: 14px!important;
  padding: 8px;
}

.modal .modal-title-mesa {
  padding: 0;
  margin: 0;
  font-size: 18px!important;
  align-self: center;
}

.modal .modal-text {
  font-weight: normal!important;
  font-size: 14px!important;
  padding: 8px;
  max-width: 450px;
}

/* Layout da scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--cinza-claro);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--cinza-escuro);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cinza-mais-escuro);
}

/* Layout de blocos gerais com id ou classe */

#img-container {
  height: 20vh;
  width: 20vh;
}

#img-container img {
  object-fit: cover;
  border-radius: 50%;
}

#img-container-2 {
  height: 10vh;
  width: 10vh;
}

#img-container-2 img {
  box-shadow: var(--sombra-clara);
  object-fit: cover;
  border-radius: 50%;
}

#img-container-form {
  height: 20vh;
  width: 20vh;
  margin-bottom: 4vh;
}

#img-container-form img {
  object-fit: cover;
  border-radius: 50%;
}


#return-button, #bill-button {
  padding-right: 4vh;  
  height: 24px;
}

#centered-header #exit-button {
  padding-right: 0;
  height: 24px;
  margin-left: 4vh;
}

#exit-button {
  padding-right: 1vh;
  height: 24px;
  margin-left: auto;
}

#return-button img, #exit-button img, #bill-button img {
  box-shadow: none;
}

#body_roxo h1 {
  text-transform: uppercase;
  color: var(--laranja-escuro);
  font-size: 32px;
}

.form-control::placeholder, #button {
  text-transform: uppercase;
}

.helptext {
  display: none;
}

#body_roxo .errortext {
  font-size: 16px;
  color: var(--roxo-claro);
}

#body_cinza .errortext {
  font-size: 16px;
  text-align: center
}


#body_roxo a, #body_roxo a:visited{
  font-weight: bold;
  color: var(--roxo-claro);
  text-shadow: var(--sombra-escura);
}

#body_roxo a:hover{
  color: var(--branco);
}

#centered-header {
  justify-content: space-between!important;
}

#no-img {
  width: 24px;
  height: 24px;
  margin-left: 4vh;
}

/* Layout de blocos gerais sem id */

img {
  height:100%;
  width: 100%;
  box-shadow: var(--sombra-escura);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  margin: 16px;
}

form input, form button {
  font-size: 18px;
}

form input, form select {
  border-color: transparent;
  border-radius: 42px;
  padding: 16px 24px;
  margin: 8px;
  box-shadow: var(--sombra-escura);
}

form select {
  color: var(--cinza-mais-escuro);
  text-transform: uppercase;
  font-weight: bold;
}

form p {
  padding: 0;
  margin: 0;
}

form input::placeholder {
  font-weight: bold;
  color: var(--cinza-mais-escuro);
  font-size: 16px;
}

form button {
  text-transform: uppercase;
}

form p label {
  display: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

p a {
  color: var(--roxo-escuro)!important;
}

p a:hover {
  color: var(--roxo-claro)!important;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: var(--branco);
  cursor: pointer;
  background-color: var(--laranja-escuro);
  border-color: transparent;
  border-radius: 42px;
  padding: 16px 24px;
  box-shadow: var(--sombra-escura);
  margin-top: 6vh;
  margin-bottom: 10vh;
}

button:hover{
  background-color: #c66f3a;
  color: #d7d7d7;
}

form ul li, form ul {
  display: none;
}