* {
  font-family: Poppins;
  box-sizing: border-box;
}

/* Layout do body dos templates base  */

#body_roxo {
  font-size: 18px;
  letter-spacing: 1px;
  background-color: rgba(99,43,171,1);
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

#body_cinza {
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #F4F4F4;
  font-weight: bold;
  color: #FF914D;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

/* Layout do header dos templates base  */

#body_roxo header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3vh;
}

#body_cinza header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2vh;
  background-color: rgba(99,43,171,1);
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

/* Layout dos blocos com id="container"  */

#container-principal {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-central {
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-central span {
  font-size: 25px;
  align-self: flex-start;
  padding-left: 5vh;
}

#container-inner {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 2vh;
}

#container-inner article {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 3vh;
  padding-right: 3vh;
}

#container-inner article p{
  padding: 0;
  margin: 0;
  align-self: center;
  padding-bottom: 3vh;
}

/* Layout dos cards */

#card {
  background-color: white;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.2);
  border-radius: 42px;
  padding: 3vh;
}

/* Layout de blocos gerais com id */

#img-container {
  height: 20vh;
  width: 20vh;
}

#img-container-2 {
  height: 12vh;
  width: 12vh;
}

#img-container-form {
  height: 20vh;
  width: 20vh;
  margin-bottom: 4vh;
}

#return-button, #exit-button {
  padding-right: 5vh;
  text-shadow: 0;
}

#body_roxo h1 {
  text-transform: uppercase;
  color: #FF914D;
  font-size: 32px;
}

/* Layout de blocos gerais sem id */

img {
  height:100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, form button {
  margin: 16px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}

form input {
  border-color: transparent;
  border-radius: 42px;
  padding: 16px 24px;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.2);
}

form input::placeholder {
  font-weight: bold;
  color: #848484;
  font-size: 16px;
}

form p label {
  display: none;
}

a, a:visited{
  font-weight: bold;
  text-decoration: none;
  color: #b299d1;
  text-shadow: 5px 10px 5px rgba(0,0,0,0.2);
}

a:hover{
  color: white;
}

button {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #FF914D;
  border-color: transparent;
  border-radius: 42px;
  padding: 16px 24px;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.2);
  margin-top: 6vh;
  margin-bottom: 10vh;
}

button:hover{
  background-color: #c66f3a;
  color: #d7d7d7;
}
